<ion-app>
    <ion-router-outlet id="main"></ion-router-outlet>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title class="seja">Seja bem vindo!</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="/assets/img/medico.png" />
        <ion-card-header>
          <ion-card-subtitle>Historia</ion-card-subtitle>
          <ion-card-title>Medicina</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          A medicina se constituiu em ciência na Grécia, com os primeiros relatos e experimentos de 
          Hipócrates, há mais de 2 500 anos. Naquela época acreditava-se que os males do corpo eram 
          consequência de um desequilíbrio dos líquidos presentes no organismo.
        </ion-card-content>
      </ion-card>
    </ion-content>

    <app-menu></app-menu>
  </ion-app>

  